
.product-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 7px;
    align: center;
    width: 180px;
    height: 230px;
   
    background: #554596;
    padding: 15px;

}


.product-card__image{
    display: block;
    padding: 0;
    margin: 0;
    border-radius: 7px;
    box-sizing: border-box;
    width: 147px;
    height: 107px;
}
.product-card__name-bg{
    display: block;
    margin:10px 0 10px 0;
    width: 140px;
    background: #E5D541;
    border-radius: 5px;
   
}

.product-card__name{
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: rgb(42, 165, 101);
}


.product-card__description{
    display: block;
    margin:10px 0 10px 0;
    width: 140px;
    background: #CE1539;
    border-radius: 8px;
    padding: 0;
    font-size: 15px;
    color: rgb(58, 42, 165);
}

.product-card__price{
    display: block;
    margin:0px 0 10px 0;
    width: 80px;
    background: #247C73;
    border-radius: 5px;
    padding: 0;

    font-size: 15px;
    color: rgb(165, 151, 42);
}



