
.header{
    max-width: 1920px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 150px;
}

.header__text {
}
.header__title {
 
        font-size: 60px;
        font-family: "Roboto";
        color: rgb(255, 204, 0);
        line-height: 1.1;
        text-align: center;
  
      
}

.header__decor{
    position: relative;
}

.header__decor::before {
    content: '';
    width: 210px;
    height: 1px;
    background-color: #ffd21c;
    position: absolute;
    top: 9px;
    left: 26px;
}

.header__decor::after {
    content: '';
    width: 210px;
    height: 1px;
    background: #ffd21c;
    position: absolute;
    top: 9px;
    left: -220px;

}
.slider {
    margin: 0 auto;

}
.slider__wrapper{
    margin: 0 auto;
    max-width: 1120px;
display: flex;
justify-content: space-around 
}

.slider__img-wrapper{
    display: flex;  
    
}
.slider__text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider__img-border-container {
    border: 1px solid #ffd21c;
}
.slider__img-border-container-decor{
    position: relative;
    width: fit-content;
    height: fit-content;
}
.slider__img-border-container-decor::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-bottom: 1px solid #ffd21c;
    border-right: 1px solid #ffd21c;
    top: 77%;
    right: -3%;
}

.slider__img-border-container-decor::after{
    position: relative;
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-top: 1px solid #ffd21c;
    border-right: 1px solid #ffd21c;
    top: -3%;
    right: -3%;
}


.slider__img-border-container {
    border: 1px solid #ffd21c;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.slider__img-border-container::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-top: 1px solid #ffd21c;
    border-left: 1px solid #ffd21c;
    top: -3%;
    left: -3%;
}
.slider__img-border-container::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-bottom: 1px solid #ffd21c;
    border-left: 1px solid #ffd21c;
    top: 77%;
    left: -3%;
}

.slider__img {
    position: relative;
}

.slider__team-member-name {
    position: relative;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.slider__team-member-name::after{
    position: absolute;
    content:'';
    width: 100px;
    height: 1px;
    right: calc(50% - 50px);
    bottom: 0%;
    background: #ffd21c;

}

.slider__team-member-position {
    text-align: center;
}



.slider__social-network-bar {
    text-align: center;
}
.slider__link{
    text-decoration: none;
    margin: 2px;
}
.social-network-bar {
    
}
.social-network-bar__ico {
}
.facebook {
}
.twitter {
}
.google-plus {
}
.linked-in {
}
.slider__paragraph {
    max-width: 440px;
    text-align: center;
}
.slider__button {
    margin: 0 auto;
    width: 100px;

   
    
}
.button-look {
    border: 1px solid #ffd21c;
    background-color: transparent;      
}
.slider__toggles {

}
.slider__toggle {
    padding: 0px;
    width:  10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #ffd21c;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.slider__toggle:focus{
    border: 1px solid #ffd21c; 
    border-radius: 50%;


}

.slider__toggle--active{
    background-color: #ffd21c;
}

// .test{
//     margin: 20px;
//     width: 200px;
//     height: 200px;
//     border-width: 3px;
//     border-style: solid;
//     border-top: #ffd21c; ;
//     border-bottom: #ffd21c;;
//     border-left: #ffd21c;;
//     border-image: linear-gradient(
//         360deg
//         , #2080e1 10%, #2080e1 80%, #bd0f0f 40%, #07203a00 21%) 1/4;
    
// }