
.header{
    max-width: 1920px;
    text-align: center;
    margin: 0 auto;
}

.header__text {
}
.header__title {
}

.header__decor{
    position: relative;
}

.header__decor::before {
    content: '';
    width: 210px;
    height: 1px;
    background-color: #ffd21c;
    position: absolute;
    top: 9px;
    left: 26px;
}

.header__decor::after {
    content: '';
    width: 210px;
    height: 1px;
    background: #ffd21c;
    position: absolute;
    top: 9px;
    left: -220px;

}
.slider {
    position: absolute;
    width: 10px;
}
.slider__img-border-container {
}
.slider__img {
}
.slider__team-member-name {
}
.slider__team-member-position {
}
.slider__social-network-bar {
}
.social-network-bar {
}
.social-network-bar__ico {
}
.facebook {
}
.twitter {
}
.google-plus {
}
.linked-in {
}
.slider__paragraph {
}
.slider__button {
    width: 200px;
    height: 90px;
   
    
}
.button-look {
    border: 1px solid #ffd21c;
    background-color: transparent;      
}
.slider__toggles {
}
.slider__toggle {
    padding: 0px;
    width:  10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #ffd21c;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.slider__toggle:focus{
    border: 1px solid #ffd21c; 
    border-radius: 50%;


}

.slider__toggle--active{
    background-color: #ffd21c;
}

